

.Persik {
  width: 60%;
  margin: auto 20%;

}

.background {
	background-color: #232323;
	color: white;


}

.cellback {
	color: rgb(228, 228, 230);
	margin-left: -12px;
}

.center {

}

.faq {
	font-size: 25px;

}

.ph {
	background-color: #ffffff
}

.margin {
	margin-bottom: 2px;
}

.decor a {
	text-decoration: none;
}

.decor a : hover {
	color: #36393c;
	cursor: pointer;
}

.PanelHeader {
	--header_background: #232323;
	--header_text: rgb(228, 228, 230);
}

:root {
	--background_content: #232323;
}

.benis {
margin-top: 0px;
padding-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
}

.Group>:not(.Header):first-child {
margin-top: 0px;
}