

.Persik {
  width: 60%;
  margin: auto 20%;

}

.background {
	background-color: #191919;
	color: white;


}

.cellback {
	color: rgb(228, 228, 230);
	margin-left: -12px;
}

.center {

}

.faq {
	font-size: 25px;
	padding-bottom: 0px;
	width: 50%;


}

.ph {
	background-color: #ffffff
}

.margin {
	margin-bottom: 2px;
}

.decor a {
	text-decoration: none;
}

.decor a : hover {
	color: #36393c;
	cursor: pointer;
}

.PanelHeader {
	--header_background: #191919;
	--header_text: rgb(228, 228, 230);
}

:root {
	--background_content: #191919;


}

.benis {
margin-top: 0px;
padding-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
}

.Group>:not(.Header):first-child {
margin-top: 0px;
}

.contact {
	font-size: 15px;
	padding-top: 0px;
}

.contactElem {
	margin-bottom: 10px;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	
}

.Cell__main {
	--text_primary: rgb(228,228,230);
}

.icon {
	padding-left: 0px;
}

.CellButton {
	text-align: center;
}
